@{
    ViewBag.Title = "Service Ticket Page";
}
<div ng-app="AdminApp">
    <div ui-view></div>
</div>

<script src="@Url.Content("~/Views/Admin/app.js")"></script>
@*<script src="@Url.Content("~/Views/Survey/app.js")"></script>*@
<script src="@Url.Content("~/Views/Survey/view/serviceticket/serviceticket.js")"></script>
<script src="@Url.Content("~/Views/Survey/service/serviceticket.service.js")"></script>
<script src="@Url.Content("~//Views/Survey/view/survey/survey.js")"></script>
<script src="@Url.Content("~/Views/Survey/view/survey/survey.controller.js")"></script>

<script src="@Url.Content("~/Views/Admin/service/user.service.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/client.service.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/clienttype.service.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/department.service.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/role.service.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/status.service.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/statusreason.service.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/surveytype.service.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/team.service.js")"></script>
<script src="@Url.Content("~/Views/ServiceTicket/view/serviceticket/serviceticket.controller.js")"></script>
