@{
    ViewBag.Title = "Admin Page";
}
<div ng-app="AdminApp">
    <div ui-view></div>
</div>

<script src="@Url.Content("~/Views/Admin/app.js")"></script>
<script src="@Url.Content("~/Views/Admin/view/home/home.js")"></script>
<script src="@Url.Content("~/Views/Admin/view/home/home.controller.js")"></script>
<script src="@Url.Content("~/Views/Admin/view/home/homemenu.controller.js")"></script>

<script src="@Url.Content("~/Views/Admin/view/user/user.js")"></script>
<script src="@Url.Content("~/Views/Admin/view/user/user.controller.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/user.service.js")"></script>

<script src="@Url.Content("~/Views/Admin/view/client/client.js")"></script>
<script src="@Url.Content("~/Views/Admin/view/client/client.controller.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/client.service.js")"></script>

<script src="@Url.Content("~/Views/Admin/view/clienttype/clienttype.js")"></script>
<script src="@Url.Content("~/Views/Admin/view/clienttype/clienttype.controller.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/clienttype.service.js")"></script>

<script src="@Url.Content("~/Views/Admin/view/department/department.js")"></script>
<script src="@Url.Content("~/Views/Admin/view/department/department.controller.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/department.service.js")"></script>

<script src="@Url.Content("~/Views/Admin/view/role/role.js")"></script>
<script src="@Url.Content("~/Views/Admin/view/role/role.controller.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/role.service.js")"></script>

<script src="@Url.Content("~/Views/Admin/view/status/status.js")"></script>
<script src="@Url.Content("~/Views/Admin/view/status/status.controller.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/status.service.js")"></script>

<script src="@Url.Content("~/Views/Admin/view/statusreason/statusreason.js")"></script>
<script src="@Url.Content("~/Views/Admin/view/statusreason/statusreason.controller.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/statusreason.service.js")"></script>

<script src="@Url.Content("~/Views/Admin/view/surveytype/surveytype.js")"></script>
<script src="@Url.Content("~/Views/Admin/view/surveytype/surveytype.controller.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/surveytype.service.js")"></script>

<script src="@Url.Content("~/Views/Admin/view/team/team.js")"></script>
<script src="@Url.Content("~/Views/Admin/view/team/team.controller.js")"></script>
<script src="@Url.Content("~/Views/Admin/service/team.service.js")"></script>
